$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

@import './../node_modules/spinkit/scss/spinners/2-double-bounce.scss';

@font-face {
  font-family: PlayfairDisplay;
  src: url('./../fonts/PlayfairDisplay-Regular.otf');
}

/*@font-face {
  font-family: HelveticaNeueLight;
  src: url('/fonts/HelveticaNeueCyrLight.otf');
}*/

@import "style.scss";
@import "toggle.scss";
