.outer-wrapper {
  overflow: hidden;
}

.side-panel {
  background-image: url("./../images/side.png");
  position: fixed;
  min-height: 100vh;
  min-width: 200px;

  h1 {
    color: #eee;
  }

  h3 {
    margin-top: 25px;
    color: #eee;
  }

  .elements-container {
    background-color: #fff;
    border-radius: 5px;
    height: 150px;
    margin-top: 15px;
  }

  #run { //temporary button, should be removed
    margin-top: 15px;
  }
}

.content {
  background-color: #101010;
  min-height: 100vh;

  .circuit-outer {
    width: 90%;
    height: 90vh;
    margin: 5vh 5%;

    .circuit {
      height: 100%;
      position: relative;
      overflow: hidden;
      background-color: #fff;
    }
  }

  .element {
    position: absolute;
    border: 1px solid #111;
    width: 50px;
    height: 35px;
    cursor: pointer;
    background-color: #fafafa;
    z-index: 99;
    display: flex;
    span {
      margin: auto;
    }
    &.el-ind {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
    &el-ind.positive {
      background-color: #FFFF00;
    }
  }
}

.context-menu {
  position: fixed;
  padding: 5px;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  z-index: 999;
  background-color: #fff;
  font-size: 12px;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #0066aa;
  }
}
