html, body {
  height: 100%;
  overflow: hidden;
}

.outer-wrapper {
  overflow: hidden;
  display: flex;
}

.side-panel {
  background-color: #222;
  height: 100vh;
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .elements-toolbar {
    margin-top: 25px;
    overflow-y: auto;
  }

  h1 {
    color: #fafafa;
    font-family: PlayfairDisplay;
    font-weight: bold;
    font-size: 32px;
    span {
      font-style: italic;
      color: #55D456;
    }
  }

  h3 {
    margin-top: 25px;
    color: #eee;
  }

  .elements-container {
    background-color: #fff;
  }

  #run { //temporary button, should be removed
    margin-top: 15px;
  }
}

.content {
  background-color: #222;
  min-height: 100vh;
  flex-grow: 1;
  flex-shrink: 1;

  .circuit-outer {
    width: 98%;
    height: 98vh;
    margin: 1vh 1%;

    .circuit {
      height: 100%;
      position: relative;
      overflow: hidden;
      background-image: url("./../images/circuit_bg.jpg");
      background-repeat: repeat;

      #rubberband {
        border: 1px solid #66afe9;
        position: fixed;
        z-index: 9999;
        display: none;
      }
    }
  }

  .element {
    position: absolute;
    border: 1px solid #111;
    width: 50px;
    height: 35px;
    cursor: move;
    background-color: #fafafa;
    z-index: 99;
    display: flex;
    span {
      margin: auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0 5px;
      user-select: none;
    }

    &.selected {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px rgba(102, 175, 233, .6);
    }
  }

  .jtk-endpoint {
    cursor: pointer;
  }
}

.content .element.el-ind, .add-el.el-ind {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  &.switched {
    border: 0;
    background-color: #55D456;
    box-shadow: rgba(85, 212, 86, 0.9) 0px 0px 10px,
                rgba(85, 212, 86, 0.8) 0px 0px 30px,
                rgba(85, 212, 86, 0.7) 0px 0px 50px,
                rgba(85, 212, 86, 0.6) 0px 0px 70px;
  }
}

.content .element.el-gen, .add-el.el-gen {
  width: 60px;
  padding-left: 10px;
  background-image: url('./../images/gen.png')
}

.content .element.el-coup, .add-el.el-coup {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

.content .element.el-enc, .add-el.el-enc, .content .element.el-dec, .add-el.el-dec {
  height: 60px;
  width: 70px;
}

.context-menu {
  position: fixed;
  padding: 5px;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  z-index: 999;
  background-color: #fff;
  font-size: 12px;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #222;
  }
}

.element-description {
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.elements-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 10px;
}

.add-el-container {
  padding: 10px;
}

.add-el {
  display: inline-block;
  width: 50px;
  height: 35px;
  cursor: move;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  background-color: #fafafa;
  text-align: center;
  display: flex;
  user-select: none;
  &.slider {
    position: relative;
    transition: none;
    cursor: move;
  }
  span {
    margin: auto;
  }
  &.ui-draggable-dragging {
    cursor: move;
    z-index: 999;
  }
}

.test-result {
  border: solid #A9A9A9 1px;
  width: 100%;
  min-height: 40px;
}

.test-request {
  width: 100%;
}
